<!DOCTYPE html>
<html>
<head>
  <title>Parks and Reviews</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Bebas+Neue|Six+Caps|Special+Elite&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran|Open+Sans+Condensed:300|Slabo+27px&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
      <nav class="top-bar">
        <h1 class="title color"><a class="color" href="/"> Parks and Reviews <img class="logo color" src="https://i.imgur.com/lmfhsRP.png" alt=""></a></h1>
        <section class="top-bar-section">
          <div class="right">
            <ul>

            </ul>
            <%- if user_signed_in? -%>
            <img class="thumbnail color" src=<%= current_user.profile_photo %>>
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, :class => "title color signout" %>
              <% if current_user.admin? %>
                <%= link_to "New Park", api_v1_parks_new_path, :class => "title color signout" %>
              <% end %>
            <%- else -%>
              <%= link_to 'Sign Up', new_user_registration_path, :class => "title color"%>
              <%= link_to 'Sign In', new_user_session_path, :class => "title color" %>
            <%- end -%>
          </div>
        </section>
      </nav>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
  <img class="trees" src="https://i.imgur.com/Xu4dM1T.png" alt="tree-border">
  <footer class="responsive-blog-footer">
    <div class="row">
      <div class="medium-8 columns small-order-2 medium-order-1 about-container">
        <div class="row">
          <div class="medium-8 columns about-section">
            <h4 class="creator">Contributors</h4>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="row tag-search">
      <div class="columns">
        <ul class="menu simple tag-section">
          <div class="item">
            <img class="maker" src="https://i.imgur.com/r0auy4b.jpg" alt="afia"/>
            <span class="caption">Afia Kyalo</span>
          </div>

          <li>
            <a class="creator" href="https://www.linkedin.com/in/afiakyalo/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a class="creator "href="https://github.com/afiakyalo"><i class="fa fa-github-square fa-2x"></i></a>
          </li>

          <div class="item">
            <img class="maker" src="https://launchpass-production.s3.amazonaws.com/uploads/user/profile_photo/2689/IMG_9956.jpg" alt="ben"/>
            <span class="caption">Ben Hatfield</span>
          </div>

          <li>
            <a class="creator" href="https://www.linkedin.com/in/ben-z-hatfield/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a class="creator "href="https://github.com/BZHatfield"><i class="fa fa-github-square fa-2x"></i></a>
          </li>

          <div class="item">
            <img class="maker" src="https://launchpass-production.s3.amazonaws.com/uploads/user/profile_photo/2685/IMG_9977.jpg" alt="hannah"/>
            <span class="caption">Hannah Horobin</span>
          </div>

          <li>
            <a class="creator" href="https://www.linkedin.com/in/hannah-horobin/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a class="creator "href="https://github.com/hhorobin"><i class="fa fa-github-square fa-2x"></i></a>
          </li>

          <div class="item">
            <img class="maker" src="https://launchpass-production.s3.amazonaws.com/uploads/user/profile_photo/2621/IMG_9961.jpg" alt="jordan"/>
            <span class="caption">Jordan Chu</span>
          </div>

          <li>
            <a class="creator" href="https://www.linkedin.com/in/jordanchu1995/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a class="creator "href="https://github.com/idkjay"><i class="fa fa-github-square fa-2x"></i></a>
          </li>

          <div class="item">
            <img class="maker" src="https://launchpass-production.s3.amazonaws.com/uploads/user/profile_photo/2329/IMG_9938.jpg" alt="rob"/>
            <span class="caption">Robert Huff</span>
          </div>

          <li>
            <a class="creator" href="https://www.linkedin.com/in/robert-huff8040/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a class="creator "href="https://github.com/rob8040"><i class="fa fa-github-square fa-2x"></i></a>
          </li>
        </ul>
      </div>
      <hr>
      <br>
    </div>
    <div class="row columns flex-container align-justify">
       <a href="http://launchacademy.com/"><p class="title color">inspired? apply now @launchacademy</p></a>
      <div class="up-arrow">
        <a href="#top"><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>
